.branch-section{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}

.branch-page-title{
    margin-bottom: 15px;
}

.branch-filter, .branch-chart{
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.branch-chart div{
    width: 100%;
}

.branch-filter{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px
}

.branch-chart{
    margin-top: 25px;
}

.btn-branch{
    background-color: #d9d9d9;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.btn-branch:hover{
    background-color: #a1a1a1;
}