*{
  padding: 0;
  margin: 0;
}

.header{
  background-color: #d9d9d9;
  padding-top: 30px;
  padding-bottom: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.app-title{
  margin-bottom: 15px;
}
